<form class="pure-form" method="POST" action="{{ @BASE }}/blogpost/edit/{{ @blogpost.id }}" enctype="multipart/form-data">
    <input type="hidden" name="token" value="{{ @CSRF }}"/>
    <input class="pure-input-1" type="text" name="title" value="{{ @blogpost.title }}" placeholder="{{ @messages.admin.blogtitle }}"><br />
    <br />
    <input type="file" name="blogimage" id="blogimage" class="form-input"><br />
    <br />
    <textarea class="tinymce" name="body">{{ @blogpost.body }}</textarea>
    <br />
    <button type="submit" class="pure-button pure-button-primary">{{ @messages.admin.publish }}</button> &nbsp;

    <!-- TODO: Workaround for deleting one blogpost instance. Javascript needs to be separated more gracefully! -->
    <a href="#" onclick="if(confirm('{{ @messages.confirmation.delete.blogpost }}')) window.open('{{ @BASE }}/blogpost/delete/{{ @blogpost.id }}', '_self');">{{ @messages.action.delete }}</a>
</form>


