<check if="{{ sizeof(@pages) > 0 }}">
    <true>
        <table class="pure-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ @messages.admin.blogtitle }}</th>
                    <th>{{ @messages.admin.blogdate }}</th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @pages }}" value="{{ @page }}">
                    <tr>
                        <td>{{ @page.id }}</td>
                        <td><a href="{{ @BASE }}/page/edit/{{ @page.id }}">{{ @page.title }}</a></td>
                        <td>{{ @page.datetime }}</td>
                    </tr>
                </repeat>
            </tbody>
        </table>
    </true>
    <false>
        {{ @messages.errors.no.pages }}
    </false>
</check>

