<check if="{{ sizeof(@blogpost) == 1 }}">
    <true>
        <br />
        <div class="container">
            <div class="columns">
                <div class="column col-3"></div>
                <div class="column col-6">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ @BASE }}/public/img/blog/{{ @blogpost.image }}" class="img-responsive">
                        </div>
                        <div class="card-header">
                            <div class="card-title h5">{{ @blogpost.title }}</div>
                            <div class="card-subtitle text-gray">Software and hardware</div>
                        </div>
                        <div class="card-body">
                            {{ @blogpost.body | raw }}
                        </div>
                        <div class="card-footer">
                            {{ @blogpost.datetime }}
                        </div>
                    </div>
                </div>
                    <div class="column col-3"></div>
            </div>
        </div>
        <br />
    </true>
    <false>
        {{ @messages.blogposts-no-posts }}
    </false>
</check>