<!DOCTYPE html>
<!-- ViennaCMS is free and opensource software, released by Yoeri Nijs under GPLv3 license. -->
<!-- Source: github.com/YoeriNijs/ViennaCMS -->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ @SITE_DESCRIPTION }}">
    <meta name="keywords" content="{{ @SITE_KEYWORDS }}">
    <meta name="author" content="{{ @SITE_AUTHOR }}">
    <title>{{ @SITE_NAME }}</title>
    <link rel="stylesheet" href="{{ @BASE }}/public/css/blog.css">
    <link rel="stylesheet" href="{{ @BASE }}/public/css/blog-old-ie.css">
    <link rel="stylesheet" href="{{ @BASE }}/public/css/base.css">
    <link rel="stylesheet" href="{{ @BASE }}/public/css/grids.css">
    <link rel="stylesheet" href="{{ @BASE }}/public/css/buttons.css">
    <link rel="stylesheet" href="{{ @BASE }}/public/css/menus.css">
    <link rel="stylesheet" href="{{ @BASE }}/public/css/forms.css">
    <script src="{{ @BASE }}/public/js/bundle.js"></script>
</head>
<body>
    {{ @messages.errors.general }}
</body>
</html>
