<!DOCTYPE html>
<!-- ViennaCMS is free and opensource software, released by Yoeri Nijs under GPLv3 license. -->
<!-- Source: github.com/YoeriNijs/ViennaCMS -->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ @SITE_DESCRIPTION }}">
    <meta name="keywords" content="{{ @SITE_KEYWORDS }}">
    <meta name="author" content="{{ @SITE_AUTHOR }}">
    <title>{{ @SITE_NAME }}</title>
    <link rel="stylesheet" href="public/css/blog.css">
    <link rel="stylesheet" href="public/css/blog-old-ie.css">
    <link rel="stylesheet" href="public/css/base.css">
    <link rel="stylesheet" href="public/css/grids.css">
    <link rel="stylesheet" href="public/css/buttons.css">
    <link rel="stylesheet" href="public/css/menus.css">
    <link rel="stylesheet" href="public/css/forms.css">
    <script src="public/js/bundle.js"></script>
</head>

<body>
    <repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
        <div class="message {{ @msg.status }}">
            {{ @msg.text | esc }}
        </div>
    </repeat>
    <div id="layout" class="pure-g">
        <include href="navbar.htm" />
        <div class="content pure-u-1 pure-u-md-3-4">
            <include href="{{ @view }}" />
            <include href="footer.htm" />
        </div>
        <script src="minify/js?files=tinymce.js"></script>
    </div>
</body>
</html>
